{{ cookiecutter.domain_name }} {
    proxy / django:5000 {
        header_upstream Host {host}
        header_downstream X-Forwarded-Proto {scheme}

        # Don't show Gunicorn as server header
        header_downstream -Server

        # Enable HTTP Strict Transport Security (HSTS) to force clients to always
        # connect via HTTPS (do not use if only testing)
        # header_downstream +Strict-Transport-Security "max-age=31536000;"

        # Referrer policy
        header_downstream +Referrer-Policy "no-referrer"

        # Enable cross-site filter (XSS) and tell browser to block detected attacks
        header_downstream +X-XSS-Protection "1; mode=block"

        # Prevent some browsers from MIME-sniffing a response away from the declared Content-Type
        header_downstream +X-Content-Type-Options "nosniff"

        # Enable a strict content security policy.
        # Edit this if you need external sources on your site.
        # See: https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP
        header_downstream +Content-Security-Policy "connect-src 'self'; default-src 'none'; font-src 'self'; form-action 'self'; frame-ancestors 'none'; img-src data: 'self'; object-src 'self'; style-src 'self'; script-src 'self';"
    }

    # The email address to use with which to generate a certificate with Letsencrypt.
    tls ameistad@gmail.com
}
