{% raw %}{% extends 'base.html' %}

{% block content %}
<div class="container m-t-2">
  <div class="row">
    <div class="col-md-12">
      <h4>Reset password</h4>
      <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
      <form method="post" action="{% url 'user:auth_password_reset_complete' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-sm">Reset password</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}{% endraw %}