{% raw %}{% extends 'base.html' %}

{% block content %}
<div class="container m-t-2">
  <div class="row">
    <div class="col-md-8">
      <h4>{{ user.username }}</h4>
      <p>E-mail: {{ user.email }}</p>
      {% if user.name %}
      <p>Name: {{ user.name }}</p>
      {% endif %}
    </div>
    <div class="col-md-4">
     <a class="btn btn-primary btn-sm" href="{% url 'user:auth_password_change' %}">Change password</a>
     <a class="btn btn-primary btn-sm" href="{% url 'user:auth_password_reset' %}">Reset Password</a>
    </div>
  </div>
</div>
{% endblock %}{% endraw %}